:root {
    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Color */
    --primary-color: #303030;
    --secondary-color: #ffffff;
    --accent-color: #FF6C00;
    --grey-color-60: rgba(157, 164, 189, 0.6);

    /* Others */
    --trans-dur-and-func: 300ms ease;
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a:visited {
    color: currentColor;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}

.container {
    /*--- Basic styles ---*/
    min-width: 320px;
    max-width: 448px;
    padding: 0 15px;
    margin: 0 auto;

    outline: 2px solid red;
    outline-offset: -2px;
}

/*--- Tablet screen ---*/
@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/*--- Desktop screen ---*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/*========== COMPONENTS ==========*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}

.uppertitle {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.uppertitle::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--primary-color);
}

.uppertitle-light {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 11.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.uppertitle-light::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--grey-color-60);
}

.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/*========== HEADER ==========*/

.page-header {
    padding-top: 40px;
    padding-bottom: 22px;
    background-color: black;
}

@media only screen and (min-width: 768px) {
    .page-header {
        padding-top: 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .page-header {
        padding-top: 22px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .header-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .header-logo-link {
        margin-right: 70px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-logo-link {
        margin-right: 124px;
    }
}

.header-logo {
    display: block;
    fill: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
    .header-logo {
        fill: var(--primary-color);
    }
}

@media only screen and (min-width: 1200px) {
    .header-logo {
        width: 76px;
        height: 76px;
    }
}

@media only screen and (max-width: 767px) {
    .page-nav {
        display: none;
    }
}

.page-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media only screen and (min-width: 1200px) {
    .header-nav-list {
        gap: 30px;
    }
}

.header-nav-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-color)
}


.header-contact {
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

@media only screen and (max-width: 1199px) {
    .header-contact {
        display: none;
    }
}

.header-btn {
    display: block;
    min-width: 160px;
    min-height: 40px;
    padding: 12px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
    .header-btn {
        display: none;
    }
}


/*========== MOBILE MENU ==========*/

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-burger-icon {
    fill: var(--secondary-color);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 120px;
    background-color: var(--secondary-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 50px;
    right: 30px;
}


.mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 64px;
}

.mobile-menu-item,
.mobile-menu-tel {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: var(--primary-color);
    transition: color var(--trans-dur-and-func);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
    color: var(--accent-color);
}

.mobile-menu-tel {
    display: block;
    margin-bottom: 24px;
}

.mobile-menu-tel:hover,
.mobile-menu-tel:focus {
    color: var(--accent-color);
}

.mobile-menu-btn {
    display: block;
    min-width: 194px;
    height: 40px;
    padding: 12px 37px;
    margin-bottom: 64px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: color var(--trans-dur-and-func), background-color var(--trans-dur-and-func);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}


.mobile-menu-social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.mobile-menu-social-list::before {
    position: absolute;
    content: '';
    left: 40px;
    top: 518px;
    width: 60px;
    height: 1px;
    background-color: var(--primary-color);
}

.mobile-menu-social-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    color: var(--primary-color);
}